*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
}




/* This is Navigation Bar Modification Part*/

#home-nav-bar{
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    box-shadow: 0 0.25rem 0.75rem rgba(133, 133, 133, 0.7);
    width: 100%;
}

.main-logo img{
    height: 120px;  
}

#home-nav-bar a{
    color: #191919;
    text-decoration: none;
}

#home-nav-bar > div{
    margin: 0 20px 0 20px;
}

.main-menu ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;

}

.main-menu ul li{
    padding: 20px;
}

.nav-logreg-sec,button{
    display: flex;
    margin: 0px 10px;
}

.nav-logreg-sec div{
    display: flex;
    margin: 0px 10px;
}

.nav-logreg-sec button{
    color: white;
    background-color:#ffb413;
    padding: 15px;
    margin-right: 30px;
    font-size: medium;
    border: none;
    font-weight: 600;
}

.nav-logreg-sec button:hover{
    opacity: 80%;
    transition:all ease-in 0.2s;
}

.nav-logreg-sec a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu ul li:hover{
   text-decoration: underline;
   text-decoration-thickness:3px;
   text-decoration-color: #ffb413;
   opacity: 60%;
}


.nav-logreg-sec a:hover{
    opacity: 80%;
}

/* Navigation Modification End */







#home-main-banner{
    width: 100%;
    height: auto;
    margin: 0;
}


#home-main-banner {
    background-image: url("New folder2/new\ offer\ 3.jpg");
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    height: 780px;
    width: 100%;

}








/* Promotion Contents Modification */

#promotion-section-area{
    margin: calc(5%/2) calc(20%/2) calc(5%/2) calc(20%/2);
    height: auto;
    
}



/* Starting Promotion Content Section Modification */


.offer-covering h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #191919;
    font-size: 50px;
    font-weight: 600;
    margin: 80px 0px 20px 0px;
    letter-spacing: 4px;

}


.underline-covering{
    display: flex;
    height: auto;
    width: 50%;
    justify-content: center;
    align-items: center;
  
  
  }
  
  .underline-covering::before{
      content: " ";
      height: 6px;
      width: 120px;
      background-color: #191919;
      position:absolute;
      right: 50%;
      margin-bottom: 20px;
  
  }
  
  .underline-covering::after{
      content: " ";
      height: 6px;
      width: 120px;
      background-color:#ffb413;
      position: absolute;
      left: 50%;
      margin-bottom: 20px;
  
  }


.offer-covering span{
    color:#ffb413;
    margin-left: 10px;
    letter-spacing: 4px;
}




/* Count Down Modification */
.countdown-covering{
    display: flex;
    justify-content: center;
    align-self:center;
    margin: 20px 0px 50px 0px;


}

.countdown-covering div{
    width: 150px;
    height: auto;
    font-size: 20px;
    color:#ffb413;
    text-align: center;
    margin: 0px 15px;
}

.countdown-covering span{
    font-size: 36px;
    display: block;
    color:#ffb413;
    font-weight: 600;
    background-color: black;

}

/* Offer Image and Details Modification */

.offer-img-detail-covering{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

}

.offer-img-detail-wrap{
    width: 95%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;


}



.offer-wrap{
    width: 680px;
    height: fit-content;
    padding: 20px;
    box-shadow:1px 1px 20px 1px #00000029;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}


.offer-img-detail-sec{
    width: 100%;
    height: fit-content;
    margin:50px 0px;

}


.offer-img{
    width: 100%;
    height:400px;
    padding: 10px 0px;
}

.offer-img img{
    width: 100%;
    height:100%;
}


.offer-detail{
    width: 100%;
    height: fit-content;
    padding: 10px 0px;
}


.offer-detail h2{
  font-weight: 500;
  margin:0px 0px 10px 0px;
  font-size: medium;
  letter-spacing: 3px;
}

.offer-detail hr{
   width: 100%;
   opacity: 40%;
  }


  .offer-detail button{
  width: 100%;
  display: flex;
  height:auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color:#ffb413;
  background-color:#0c0c0c;
  margin: 20px 0px 0px 0px;
  border: none;
  font-size: larger;
  letter-spacing: 2px;
  box-shadow: 0px 3px 6px #00000029;
  font-weight: 600;
  }





  /* Other Offers Modifications */

  .other-offers-covering{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
  }



  .other-offers-wrap{
    width:450px;
    height: auto;
    padding: 25px;
    box-shadow: 0px 3px 6px #00000029;

  }

  .other-img, .other-img img{
    width: 100%;
    height: 300px;
  }

.other-details{
    width: 100%;
    height: auto;
    margin: 10px 0px;
}

.other-details h2{
    padding: 5px;
    font-weight: 500;
}

.other-details button{
    padding: 10px;
    width: 100%;
    color:#ffffff;
    background-color:#ffb413;
    font-weight: 800;
    font-size: larger;
    margin: 0;
    border: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

















/* ------Footer Section------ */



.footer{
    width: 100%;
    height:580px;
    background-color: #583c00d8;
}


.footersections{
    display: flex;
    width: 100%;
    height: 500px;
    color: #ffffff;

}



.fsection{
    height: 480px;
    width: 100%;
    margin: calc(8%/6);
}

.footerfinalsec{
    width: 100%;
    height: 50px;
}

.fcarddetails{
    margin: 23px;
    height: 40px;
}




.fa {
    padding: 16px;
    font-size: 48px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 50px 0px;
    border: rgb(255, 255, 255) solid 1.8px;
   
  }
  
  .fa:hover {

    background-color: rgba(255, 0, 0, 0.226);
      
  }
  
  .fa-facebook {
    background:none;
    color: rgb(255, 255, 255);
  }
  
  .fa-instagram {
    background:none;
    color: rgb(255, 255, 255);
  }

  .fa-linkedin {
    background: none;
    color: rgb(255, 255, 255);
  }


#flogo{
    width: 50%;
    height: 50px;
    margin: 30px;
}




.getintouch h4{

    height: 0 auto;
    margin: 40px 0px 35px 30px;
    word-spacing: 2px;
    font-size: 1.3em;
    display: flex;
    justify-content: start;
    
}


.footer-contacts h4{
    padding-bottom: 10px;
}



.fsocial{
    margin: 50px 0px 0px 30px;
    word-spacing: 2px;
    font-size: 1.3em;

}





.phone{
    width: 50%;
    height: 0 auto;
    margin: 10px 30px 30px 30px;
    word-spacing: 1.5px;

}

.phone h4{

    font-weight: 400;

}

.info-n-menu-sec{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 50px 0px;

}

 

  
.fshop{
    display: flex;
    justify-content: space-between;
    margin: 10px 48px 0px 50px;
    font-size: 1.05em;

}


.fsection ul{
    list-style: none;
    

}

.fsection a{

    text-decoration: none;
    color: #ffffff;
}

.catogories{
    margin: 0px 0px 0px 0px; ;
}


.fcatogories{

    margin: 10px 0px 0px 0px; 


}



.floginfoarm{
    margin: 30px 0px 0px 30px;
}

.loginhead p{
    margin: 30px 0px 30px 0px;
}




.fshop li:hover{
    color: rgba(255, 0, 0, 0.226);
    text-decoration: underline 2.5px;
    
}





.socialicons{
    margin: 0px 0px 0px 5px;

}

.socialicons a{
    margin: 30px 30px 0px 0px;

}

.footer-all-heading{
    word-spacing: 2px;
    font-size: 1.3em;
    margin-left: 30px;
    margin-bottom: 15px;
   

}

.footer li{
    padding-bottom: 15px;
}


.footer-menu h4{

    height: 0 auto;
    margin: 50px 0px 25px 0px;
    word-spacing: 2px;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    
}

.fhelp{
    margin-right: 30px;
}



.shop-info{
    margin: 40px 0px 0px 30px;
}

.shop-info-data{
    margin: 40px 0px 35px 0px;
    word-spacing: 2px;
    font-size: 1.3em;
}

.footer-address h4{
    padding: 0px 0px 15px 0px;
    font-weight: 400;

}


.footersections a:hover{
    opacity: 85%;
}




.footer-foarm{
    display: flex;
    justify-content: start;
}

#footeremail{
    width: 100%;
    height: 40px;
}


#footer-email-send-button {
    border: 1.8px solid rgb(255, 255, 255);
    color: rgba(255, 0, 0, 0.815);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    margin: 0px 30px 0px 10px;
    cursor: default;
    

}

#footer-email-send-button a{
    cursor: default;
    color: rgba(255, 0, 0, 0.815);


}

#footeremail input{
    width: 100%;
    height: 40px;
    background:none;
    padding-left:8px ;
    border: 1.8px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    outline: none;
}

#footer-email-send-button h4:hover{
    opacity: 90%;

}

/* ------Footer Section End------ */ 










